<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
         
                  <div class = "mynav">
                    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                        <div class="container">
                          <a class="brand" href="{{ url_for('index') }}">NOTEAPP</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                      
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                              </li>
                      
                      <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                              </li>
                      <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                              </li>
                      <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                              </li>
                      </ul>
                      </div>
                      </div>
                      </nav>
                  </div>
            </div>

            {% block navbar%}


            {% endblock %}
    </body>    
</html>